---
import IconDataAnalityc from '../assets/svg/IconDataAnalityc.svg?raw'
import IconExcel from '../assets/svg/IconExcel.svg?raw'
import IconCsharp from '../assets/svg/IconCsharp.svg?raw'
import IconPython from '../assets/svg/IconPython.svg?raw'
import IconMssql from '../assets/svg/IconMssql.svg?raw'
import IconGit from '../assets/svg/IconGit.svg?raw'
import IconPowerbi from '../assets/svg/IconPowerbi.svg?raw'
---

<div class="relative card min-w-[350px] md:w-3/5 w-4/5 rounded-md p-2 flex justify-around items-center">
   <div class="w-8 h-8 p-0" set:html={IconDataAnalityc}></div>
   <div class="w-8 h-8 p-0" set:html={IconExcel}></div>
   <div class="w-8 h-8 p-0" set:html={IconMssql}></div>
   <div class="w-8 h-8 p-0" set:html={IconPowerbi}></div>
   <div class="w-8 h-8 p-0" set:html={IconPython}></div>
   <div class="w-8 h-8 p-0" set:html={IconCsharp}></div>
   <div class="w-8 h-8 p-0" set:html={IconGit}></div>
   <div class="absolute bottom-0 left-28 border-b-2 rounded border-tm-pr w-2/5 ">
      
   </div>
</div>