---
import IconHouse from '../assets/svg/IconHouse.svg?raw';
import IconCube from '../assets/svg/IconCube.svg?raw';
import IconCalendar from '../assets/svg/IconCalendar.svg?raw';
import IconGraf from '../assets/svg/IconGraf.svg?raw';
import IconMessage from '../assets/svg/IconMessage.svg?raw';
import IconMoney from '../assets/svg/IconMoney.svg?raw';
import IconFilter from '../assets/svg/IconFilter.svg?raw';
import IconDataScience from '../assets/svg/IconDataScience.svg?raw';

const menuItems = [
  { id: 'home', iconHTML: IconHouse, label: 'Inicio', href: '#home' },
  { id: 'projects', iconHTML: IconCube, label: 'Proyectos', href: '#projects' },
  { id: 'experience', iconHTML: IconCalendar, label: 'Experiencia', href: '#experience' },
  { id: 'skills', iconHTML: IconGraf, label: 'Habilidades', href: '#skills' },
  { id: 'contact', iconHTML: IconMessage, label: 'Contacto', href: '#contact' },
  { id: 'pricing', iconHTML: IconMoney, label: 'Precios', href: '#pricing' },
];
---

<div class="h-full w-full flex flex-col justify-between items-center py-6 px-1"> 
   <div class="rounded-md hover:scale-110  hover:bg-gray-200
               focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2
               transition-colors duration-200 p-2">
    <div class="w-10 h-10 p-0"  set:html={IconFilter}></div>
  </div>

  <nav class="flex flex-col gap-9">
    {menuItems.map(item => (
      <div
        key={item.id}
        class="group flex flex-col items-center justify-center p-2 rounded-md hover:scale-110  hover:bg-gray-200
               focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2
               transition-colors duration-200"
        aria-label={item.label}
      >
        <div class="w-10 h-10 p-0" set:html={item.iconHTML}></div>
      </div>
    ))}
  </nav>

  <div class="rounded-md hover:scale-110  hover:bg-gray-200
               focus:outline-none focus:ring-2 focus:ring-tm-pr focus:ring-offset-2
               transition-colors duration-200 p-2">
    <div class="w-10 h-10 p-0" set:html={IconDataScience}></div>
  </div>
</div>
