---
const PROJECTS = [
   {
      key: "project-1",
      title:'Regional Sales Analysis',
      href:'/projects/project-1', ///ventas-regionales',
      img:'dashboardTienda-0.jpg',
      alt:'imagen del dashboard: análisis de ventss regionales',
      tech: "Power BI, Dax",
      p:'In this project, I conducted an exhaustive analysis of sales performance by region for a retail company. The main objective was to identify...',
   },
   {
      key: "project-2",
      title:'Product Performance Analysis',
      href:'/projects/project-2', ///desempeño-productos',
      img:'desempeno_de_producto.jpg',
      alt:'imagen del dashboard: análisis de desempeño de productos',
      tech: "Power BI, Dax",
      p:'This project focuses on the analysis of the individual performance of a company\'s products, evaluating their sales, profit margins...',
   },
   {
      key: "project-3",
      title:'Customer Satisfaction Analysis',
      href:'/projects/project-3', ///satisfaccion-cliente',
      img:'satisfaccion_cliente.jpg',
      alt:'imagen del dashboard: análisis de satisfacción del cliente',
      tech: "Power BI, Dax, Excel",
      p:'This project represents a 360-degree analysis of the operations of a large e-commerce platform. My role was to build a comprehensive report to understand performance...',
   },
   {
      key: "project-4",
      title:'Comprehensive E-commerce Operations Analysis',
      href:'/projects/project-4', //proj-title-4',
      img:'e-commerce-ejecutivo-1.jpg',
      alt:'imagen del dashboard: análisis integral de operaciones de e-commerce',
      tech: "Power BI, Dax,",
      p:'This project focuses on analyzing customer satisfaction through survey data. The goal is to identify factors...',
   }
];
---

<div class="py-3">
   {
      PROJECTS.slice(0).map(({key, title, href, img, alt, tech, p}) =>
         <article  id={key} class="card card-1 inline-block h-full md:w-[48%] md:m-[1%]  cursor-pointer">
            <div class="card-2 pb-6">
               <a href={href} class="cursor-pointe">
                  <img src={"/images/"+img} alt={alt} style="view-transition-name: dt1-image;" class="w-full h-auto" ></img>
                  <div class=" px-2 pt-1 ">
                     <h3 data-translate_key={key} class="text-xl flex flex-col font-bold text-tm-text leading-tight">
                        {title}
                     </h3>
                     <p>{tech}</p>
                  </div>
               </a>
            </div>
         </article>
      )
   }
</div>

<style>
.card-2 {
  position: relative;
  overflow: hidden;
  border-radius: var(--tm-radius);
  transition: all 0.5s ease;
}

.card-2::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.card-2:hover {
  background: #111;
  color: white;
  border: none;
  transform: scale(1.01);
}

.card-2:hover h3 {
  color: white;
}

.card-2:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.card-1::before {
  content: '';
  position: absolute;
  border-radius: var(--tm-radius);
  height: 102.5%;
  background: linear-gradient(45deg, var(--tm-bg) 50%, var(--tm-bg) 60%);
  bottom: -5px;
  left: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.card-1:hover::before {
  transform: scaleX(1);
}

</style>