---
// src/components/WorkExperience.astro
// Asegúrate de que tu constante WORKEXPERIENCES tenga un formato como este:
// {
//   company: string;
//   cargo: string;
//   area?: string; // Opcional
//   startDate: string; // Ejemplo: 'Mayo 2020'
//   endDate: string;   // Ejemplo: 'Actual' o 'Noviembre 2023'
//   tasks: string[];
// }
import IconDetail from '../assets/svg/IconDetail.svg?raw';
import { WORKEXPERIENCES } from '@/consts/workExperiences';
---

<ul class="py-3 flex gap-y-2 flex-wrap">
  
  {WORKEXPERIENCES.map(({ key, company, cargo, area, tasks, link }) => (
    <li class="card card-1 flex justify-between flex-col p-6 inline-block w-full h-52 md:w-[47%] md:m-[1.5%]  cursor-pointer">
      
      <div class="flex flex-col gap-2 mb-1">
         <h3 data-translate_key={key + "_title"} class="text-xl flex flex-col font-bold text-tm-text leading-tight">
            {cargo}
         </h3>
         <span data-translate_key={key + "_company"} class="text-lg font-normal text-tm-text2">
            {company}
         </span>
         <p class="text-sm text-tm-text2 mt-1">
            {area && <span data-translate_key={key + "_area"} class="ml-2">Área: {area}</span>} {/* Área integrada en la misma línea o con un salto de línea sutil */}
         </p>
      </div>
      <a href=`/experience/${link}` >
         <button class="flex gap-2 h-10 w-36 items-center text-tm-pr font-medium border border-1 border-tm-pr rounded px-2 ">
            <div class="w-5 h-5 p-0" set:html={IconDetail}></div>
            <span data-translate_key="work_experience_btb_detail">See details</span>
         </button>
      </a>
     {/*
      {tasks && tasks.length > 0 && (
        <div class="mt-4">
          <h4 data-translate_key="we" class="text-base font-semibold text-text-primary mb-2">Responsabilidades:</h4>
          <ul class="list-disc list-inside space-y-1 text-text-primary text-sm pl-4">
           {tasks.map((task, index) => (
              <li data-translate_key={task} key={index}>
                {task}
              </li>
            ))}
          </ul>
        </div>
      )} 
      */}
    </li>
  ))}
  
</ul>

