---
import '@/styles/global.css';
import Language from '@/components/Language.astro';
import Theme from '@/components/Theme.astro';

interface Props {
  title?: string;
  name?: string;
  description?: string;
}

const {
  title = "Portafolio de Ruth Esther",
  name = "Ruth Esther - Portafolio",
  image_url= "/images/profile-resize.webp",
  description = "Portafolio profesional de Ruth Esther, Data Analyst.",
} = Astro.props;
---

<!Doctype html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
      <meta property="og:type" content="website" />
      <meta property="og:title" content={title} />
      <meta property="og:site_name" content={name} />
      <meta property="og:description" content={description} />
      <meta property="og:image" content={image_url} />
      <meta property="og:locale" content="es_ES" />
    <!--  <meta property="og:url" content={page_url} /> -->
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={title} />
      <meta name="twitter:description" content={description} />
      <meta name="twitter:image" content={image_url} />
      <meta name="twitter:site" content="@yourtwitterhandle" /> 
      <meta name="twitter:creator" content="@yourtwitterhandle" /> 
      
      <meta name="description" content={description} />
      <title>{title}</title>
   
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="preload" href={image_url}  as="image" type="image/webp" crossorigin="anonymous" />
      <link rel="preload" href="/fonts/YourFontName.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
   
   </head>
   
   <body class="min-h-screen bg-background text-text-primary">
      <Language />
      <Theme />
      <slot />
   </body>
   
</html>
