---
import '@/styles/global.css';
import { ClientRouter } from "astro:transitions";
import Language from '@/components/Language.astro';
import Theme from '@/components/Theme.astro';
import DownloadCv from '@/components/DownloadCv.astro';

import Header from '@/components/Header.astro';
import Menubar from '@/components/Menubar.astro';
import Sidebar from '@/components/Sidebar.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title?: string;
  name?: string;
  description?: string;
}

const {
  title = "Portafolio de Ruth Esther",
  name = "Ruth Esther - Portafolio",
  image_url= "/images/profile-resize.webp",
  description = "Portafolio profesional de Ruth Esther, Data Analyst.",
} = Astro.props;
---

<!Doctype html>
<html lang="es" transition:persist >
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
      <meta property="og:type" content="website" />
      <meta property="og:title" content={title} />
      <meta property="og:site_name" content={name} />
      <meta property="og:description" content={description} />
      <meta property="og:image" content={image_url} />
      <meta property="og:locale" content="es_ES" />
    <!--  <meta property="og:url" content={page_url} /> -->
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={title} />
      <meta name="twitter:description" content={description} />
      <meta name="twitter:image" content={image_url} />
      <meta name="twitter:site" content="@yourtwitterhandle" /> 
      <meta name="twitter:creator" content="@yourtwitterhandle" /> 
      
      <meta name="description" content={description} />
      <title>{title}</title>
      
      <ClientRouter />
   
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="preload" href={image_url}  as="image" type="image/webp" crossorigin="anonymous" />
      <link rel="preload" href="/fonts/YourFontName.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
   
   </head>
   
   <body class="min-h-screen text-tm-text">
      <div id="head" class="z-50 transition-all duration-1000 ease-in-ou w-full flex justify-between items-center p-2" >
         <label id="label-name" class="opacity-0 transition-opacity duration-1000 ease-in-out text-xl sm:text-4xl lg:text-5xl font-extrabold
         text-tm-pr mb-1 leading-tight">
            Ruth Esther Baéz Órtiz
         </label>
         <div class="flex gap-3">
            <DownloadCv />
            <Theme />
            <Language />
         </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-[70px_1fr] lg:grid-cols-[70px_minmax(0,2fr)_minmax(0,1fr)] grid-rows-[auto_1fr_auto] min-h-screen gap-4 p-4">

         <nav class="hidden md:block col-start-1 row-start-1 row-end-4 bg-tm-bg border-r-4 border-b-4 border-tm-border rounded-lg shadow-sm p-2">
           <Menubar />
         </nav>
   
         <header class="col-span-full md:col-start-2 row-start-1 bg-tm-bg border-r-4 border-b-4 border-tm-border rounded-lg shadow-sm p-4">
           <Header />
         </header>
   
         <main class="col-span-full md:col-start-2 row-start-2 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <section class="md:col-span-2 lg:col-span-3">
               <div class="bg-tm-bg p-6 rounded-lg shadow-sm border-b-4 border-r-4 border-tm-border flex flex-col gap-8">
                  <slot />
               </div>
            </section>
   
            <aside id="sidebar" class="md:col-span-1">
               <Sidebar />
            </aside>
         </main>
   
         <footer class="col-span-full md:col-start-2 row-start-3 bg-tm-bg border-r-4 border-b-4 border-tm-border rounded-lg shadow-sm p-4 text-center text-tm-text2">
            <Footer />
         </footer>
   
      </div>

   </body>
   
</html>

<style is:global>
   #label-name {
      /*text-shadow:1px 1px 1px var(--tm-bg);*/
   }
   
   /* En tu archivo CSS global o dentro de un <style is:global> 
   ::view-transition-old(root) {
       animation: fade-out 0.1s ease-in forwards;
   }
   
   ::view-transition-new(root) {
       animation: fade-in 0.1s ease-out forwards;
   }
   
   @keyframes fade-out {
       from { opacity: 1; }
       to { opacity: ; }
   }
   
   @keyframes fade-in {
       from { opacity: 0.9; }
       to { opacity: 1; }
   }
   */

</style>

<script>
   import { $ } from '@/lib/dom-selector'

   
   function handleScrollLogic() {
      
      const $header = $('#head');
      const $DownloadCv = $('#DownloadCv');
      const $labelName = $('#label-name');
      const $sunIcon = $('#sun-icon');
   
      window.addEventListener('scroll', () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if ($header && $labelName && $DownloadCv) {
         if (scrollTop > 0) {
            if (scrollTop > 190) {
               $labelName.classList.remove("opacity-0");
               $DownloadCv.classList.add("hidden");
            }
            else {
               $labelName.classList.add("opacity-0");
               $DownloadCv.classList.remove("hidden");
            }
            
            $header.classList.add('fixed');
            $header.classList.add('bg-tm-translucent');
            $header.classList.add('backdrop-blur-md');
            $sunIcon.setAttribute('fill',"#ffffff");
         } else {
            $header.classList.remove('fixed');
            $header.classList.remove('bg-tm-translucent');
            $sunIcon.setAttribute('fill',"#1c1c1c");
         }
      }
   });
   }
   
   document.addEventListener('DOMContentLoaded', handleScrollLogic);
   document.addEventListener('astro:after-swap', handleScrollLogic);

</script>